<h1>Listing pins</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    # pull in code from partial file _pin.html.erb 
    # see http://guides.rubyonrails.org/layouts_and_rendering.html#using-partials
    <%= render @pins %> 
  </bbody>
</table>

<br />

<%= link_to 'New Pin', new_pin_path %>
