<div class="footer">
	<small>
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		class by <%= link_to "Mattan Griffel", "http://mattangriffel.com" %>, student Paul Kincaid-Smith
	</small>
</div>